<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Rock+Salt&family=Sacramento&family=Satisfy&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../public/Style.css">
    <title>T R A V E L</title>
</head>
<body>
    <nav class="Navbar navFont">
        <div class="Logo navItems">
            <img src="../public/pics/Logo2.jpg" Alt="L O G O">
            | TRAVEL
        </div>
        <ul>
            <li class="navItems"><a href="/">Home</a></li>
            <li class="navItems"><a href="/Services">Services</li>
            <li class="navItems"><a href="/Explore">Explore</li>
            <li class="navItems"><a href="/Contact">Contact</a></li>
            <li class="navItems"><a href="/About">About</a></li>

            <div class="Search navItems">
                <input type="text" name="Search" id="Search" placeholder="Search this website">
                <button class="Button">Search</button>
            </div>
        </ul>
    </nav>
    <header class="Header">
        <div class="QuoteBox">
            |TRAVEL WITH _US
        </div>
        <div class="Quote">
            |“Travel opens your heart, broadens your mind, and fills your life with stories to tell.”
        </div>
    </header>
    <!-- Services -->
    </body>
    </html>