doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="/public/login_style.css")
        link(rel="stylesheet", media="screen and (max-width: 1170px)" ,href="/public/Phone.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Monoton&family=Rock+Salt&family=Sacramento&family=Satisfy&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet")   
    
    body 
        .formlog
            h2 LOGIN 
            form(action="/login", method="POST")
                input#name.box(type="text", name="mail", placeholder="Enter Your Mail")
                input#email.box(type="text", name="password1", placeholder="Enter Your password")
                button.button(type="submit") LOGIN       
                h4 Have not registered yet? 
                //- form(action="/register", method="GET")
                a(href="/register").button REGISTER     